<a href="https://colab.research.google.com/github/Abhigna8/rishi-college/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
a+b+c

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
name="abhi"
type(name)

str

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
num1=10
num2=10
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

20
0
100
1.0

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
x="123"
integer_value=int(x)
float_value=float(x)
print(integer_value)
print(float_value)

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
string="hello"
print(string[0])

h

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
name="vaishu"
len(name)

6

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
name="abhi"
str.isalpha(name)

True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
s1="hello"
s2="world"
s3=s1+""+s2
print(s3)

helloworld

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
s="abcdef"
print(s.index("abc"))

0

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
name=("Hello Abhigna")
print(name.lower())
print(name.upper())

hello abhigna
HELLO ABHIGNA

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
string="banana"
c=string.count('a',1)
print('the count from letter a:',c)

the count from letter a: 3

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name=input("hello,whats your name?")
print("hello"+name+"good morning")

hello,whats your name?abhi
helloabhigood morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
a=5
b=10
a+b

15

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name=input("enter name:")
age=input("age:")
print({name},{age})

enter name:abhi
age:20
{'abhi'} {'20'}

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num=float(input("enter a number:"))
if num>0:
  print("positive number")
elif num == 0:
      print("zero")
else:
      print("negative number")

enter a number:10
positive number

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
def maximum(a, b, c):

    if (a >= b) and (a >= c):
        largest = a

    elif (b >= a) and (b >= c):
        largest = b
    else:
        largest = c

    return largest


# Driven code
a = 10
b = 14
c = 12
print(maximum(a, b, c))

14

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year=int(input("enter the year to be checked:"))
if(year%4==0 and year%100!=0 or year%400==0):
   print("the year is a leap year")
else:
   print("the year isnt a leap year")

enter the year to be checked:2004
the year is a leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
num = int(input())
if num % 3 ==0 and num%5==0:
  print("divisible by 3 and 5")
else:
  print("Not divisible by 3 and 5")

15
divisible by 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
def isPalindrome(s):
    return s == s[::-1]


# Driver code
s = "malayalam"
ans = isPalindrome(s)
if ans:
    print("Yes")
else:
    print("No")

Yes

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
i=0
while i<=20:
   print(i)
   i+=2

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))
print ("The Multiplication Table of: ", number)
for count in range(1, 11):
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 5
The Multiplication Table of:  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a number: "))
i = 1
while i<n:
    print(i)
    i = i + 1

Enter a number: 8
1
2
3
4
5
6
7

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
n = int(input("Enter any number: "))
f = 1
while n >= 1:
    f *= n
    n -= 1
print("Factorial is", f)

Enter any number: 4
Factorial is 24

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input ("Enter the number you want to print: "))
a = 0
b = 1
for i in range(0,n):
    print(a, end = " ")
    c = a+b
    a = b
    b = c

Enter the number you want to print: 10
0 1 1 2 3 5 8 13 21 34

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
num1 = 1
num2 = 100
for x in range(num1,num2):
    prime = True
    for i in range(2,x):
        if (x%i==0):
            prime = False
    if prime == True:
       print(x)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
num = 0
for i in range(10):
    num += 1
    if num == 8:
        break
    print("The num has value:", num)
print("Out of loop")

The num has value: 1
The num has value: 2
The num has value: 3
The num has value: 4
The num has value: 5
The num has value: 6
The num has value: 7
Out of loop

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for x in range(1,20):
      if x % 3 == 0:
         continue
         print(x)

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
s = "banana"
target = 'n'
count = 0
for c in s:
    if c == target:
        count += 1

print(count)

2

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
num = input("Enter Number: ")
sum = 0
for i in num:
    sum = sum + int(i)
print(sum)

Enter Number: 11
2

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements

def calculate_sum(numbers):
    return sum(numbers)
    numbers_list = [1, 2, 3, 4, 5]
result = calculate_sum(numbers_list)
print(f"The sum of the list is: {result}")

The sum of the list is: 15

In [ ]:
# Write a Python program to find the largest element in a list.
a=(5,10,15,20)
largest=max(a)
print(largest)

20

In [ ]:
# Write a Python program to reverse a list.
a=[1,2,3,4,5,6]
a.reverse()
print(a)

[6, 5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
list = [10, 20, 10, 30, 10, 40, 10, 50]
n = 10
print ("Original list:")
print (list)
for x in list:
    if x == n:
        list.remove(x)
print ("list after removing elements:")
print (list)

Original list:
[10, 20, 10, 30, 10, 40, 10, 50]
list after removing elements:
[20, 30, 40, 50]

In [ ]:
# Write a Python program to find the index of an element in a list.
animals = ['dog', 'cat', 'lion']
index = animals.index('dog')
print('The index of dog:', index)

The index of dog: 0

In [ ]:
# Write a Python program to find if a specific element exists in a list
a = [10, 20, 30, 40, 50]
if 30 in a:
    print("Element exists in the list")
else:
    print("Element does not exist")

Element exists in the list

In [1]:
# Write a Python program to remove duplicates from a list.
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [2]:
# Write a Python program to count the occurrences of an element in a list.
freq = ['a', 1, 'a', 4, 3, 2, 'a'].count('a')
print(freq)

3

In [3]:
# Write a Python program to get the number of even numbers in a list.
def list_even(x):
    even = []
    for n in x:
        if not n %2:
            even.append(n)
    return even
numbers = [2,3,4,6,8,101,103,111,120,124]
print(list_even(numbers))

[2, 4, 6, 8, 120, 124]

In [4]:
# Write a Python program to create a tuple and print it.
cars = ('BMW', 'Tesla', 'Ford', 'Toyota')
print('Total Items:', len(cars))

Total Items: 4

In [5]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = ("a", "mm", "ppp", "bb", "cc")

my_list = list(my_tuple)

print(my_list)
print(type(my_list))

['a', 'mm', 'ppp', 'bb', 'cc']
<class 'list'>

In [6]:
# Write a Python program to find the maximum and minimum values in a tuple.
import numpy as np
list1 = [(1,1), (3, 3), (2,2), (4,4)]
num = np.array(list1)
minimum_list = np.min(num, axis=0)
maximum_list = np.max(num, axis=0)
print("Minimum value in the input:", minimum_list)
print("Maximum value in the input:", maximum_list)

Minimum value in the input: [1 1]
Maximum value in the input: [4 4]

In [9]:
# Write a Python program to unpack a tuple into variables.
a = 4, 8, 3
print(a)
n1, n2, n3 = a
print(n1 + n2 + n3)
n1, n2, n3, n4= a

(4, 8, 3)
15

ValueError: not enough values to unpack (expected 4, got 3)

In [10]:
# Write a Python program to add an element to a set and check if an element exists in the set.
GEEK = set()
GEEK.add('s')
print("Letters are:", GEEK)
GEEK.add('e')
print("Letters are:", GEEK)
GEEK.add('s')
print("Letters are:", GEEK)

Letters are: {'s'}
Letters are: {'e', 's'}
Letters are: {'e', 's'}

In [11]:
# Write a Python program to create a dictionary with keys and values and print it.
# creating a dictionary
country_capitals = {
  "Germany": "Berlin",
  "Canada": "Ottawa",
  "England": "London"
}

# printing the dictionary
print(country_capitals)

{'Germany': 'Berlin', 'Canada': 'Ottawa', 'England': 'London'}

In [12]:
# Write a Python program to access a dictionary value using a key.
dict = {
"country" : "India",
"continent" : "Asia",
"Other_name" : "Bharat"
}
x = dict["continent"]
print(x)

Asia

In [13]:
# Write a Python program to check if a key exists in a dictionary.
d = {'a': 1, 'b': 2, 'c': 3}
key = 'b'
print(key in d)
key = 'g'
print(key in d)

True
False

In [14]:
# Write a Python program to merge two dictionaries.
d1 = {'x': 10, 'y': 8}
d2 = {'a': 6, 'b': 4}
d3 = d1 | d2
print(d3)

{'x': 10, 'y': 8, 'a': 6, 'b': 4}

In [16]:
# Write a Python program to remove a key from a dictionary.
myDict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
print(myDict)
if 'a' in myDict:
    del myDict['a']
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [18]:
# Write a Python program to get the number of keys in a dictionary

num = {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}
keys = num.keys()
print('Keys in Dictionary:', [*keys])

Keys in Dictionary: [1, 2, 3, 4]

In [19]:
# Write a Python program to find the largest and smallest values in a dictionary.
marks={"m1":78 , "m2":89 , "m3":64 , "m4":35 , "m5":71}
v = marks.values()
maxi = max(v)
mini = min(v)
print("Maximum :",maxi)
print("Minimum :",mini)

Maximum : 89
Minimum : 35

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.

In [ ]:
# Write a Python function to check if a given number is prime.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`